
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `mascotas_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `mascotas_db`;
DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$1200000$16WOoGDfgiw8IRstiZEcVA$9Ea4vRlN2KaaCqF3Qdul5O1PaAuJjjB0eP2bXnrOk3w=',NULL,1,'admin','','','',1,1,'2026-08-02 14:16:54.939153');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `clientes_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes_cliente` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `email` varchar(254) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `dni` varchar(20) NOT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `genero` varchar(1) NOT NULL,
  `fecha_registro` datetime(6) NOT NULL,
  `activo` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `dni` (`dni`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `clientes_cliente` WRITE;
/*!40000 ALTER TABLE `clientes_cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_cliente` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `clientes_direccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes_direccion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `calle` varchar(150) NOT NULL,
  `numero` varchar(10) NOT NULL,
  `colonia` varchar(100) NOT NULL,
  `ciudad` varchar(100) NOT NULL,
  `estado` varchar(100) NOT NULL,
  `codigo_postal` varchar(10) NOT NULL,
  `pais` varchar(100) NOT NULL,
  `tipo` varchar(20) NOT NULL,
  `principal` tinyint(1) NOT NULL,
  `cliente_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `clientes_direccion_cliente_id_900bc489_fk_clientes_cliente_id` (`cliente_id`),
  CONSTRAINT `clientes_direccion_cliente_id_900bc489_fk_clientes_cliente_id` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_cliente` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `clientes_direccion` WRITE;
/*!40000 ALTER TABLE `clientes_direccion` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_direccion` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `clientes_especie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes_especie` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `clientes_especie` WRITE;
/*!40000 ALTER TABLE `clientes_especie` DISABLE KEYS */;
INSERT INTO `clientes_especie` VALUES (3,'Ave'),(10,'Chinchilla'),(4,'Conejo'),(8,'Cuyo'),(14,'Erizo'),(2,'Gato'),(5,'H├ímster'),(9,'Hur├│n'),(11,'Iguana'),(13,'Loro'),(1,'Perro'),(7,'Pez'),(12,'Serpiente'),(15,'Tar├íntula'),(6,'Tortuga');
/*!40000 ALTER TABLE `clientes_especie` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `clientes_mascota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes_mascota` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `peso` decimal(5,2) DEFAULT NULL,
  `color` varchar(50) NOT NULL,
  `sexo` varchar(1) NOT NULL,
  `esterilizado` tinyint(1) NOT NULL,
  `foto_url` varchar(200) NOT NULL,
  `fecha_registro` datetime(6) NOT NULL,
  `notas` longtext NOT NULL,
  `cliente_id` bigint NOT NULL,
  `especie_id` bigint NOT NULL,
  `raza_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `clientes_mascota_cliente_id_0959a759_fk_clientes_cliente_id` (`cliente_id`),
  KEY `clientes_mascota_especie_id_68dea4c9_fk_clientes_especie_id` (`especie_id`),
  KEY `clientes_mascota_raza_id_dfd8f463_fk_clientes_raza_id` (`raza_id`),
  CONSTRAINT `clientes_mascota_cliente_id_0959a759_fk_clientes_cliente_id` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_cliente` (`id`),
  CONSTRAINT `clientes_mascota_especie_id_68dea4c9_fk_clientes_especie_id` FOREIGN KEY (`especie_id`) REFERENCES `clientes_especie` (`id`),
  CONSTRAINT `clientes_mascota_raza_id_dfd8f463_fk_clientes_raza_id` FOREIGN KEY (`raza_id`) REFERENCES `clientes_raza` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `clientes_mascota` WRITE;
/*!40000 ALTER TABLE `clientes_mascota` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_mascota` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `clientes_raza`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes_raza` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `tamano_promedio` varchar(50) NOT NULL,
  `esperanza_vida_anios` int unsigned DEFAULT NULL,
  `especie_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `clientes_raza_especie_id_2316b81a_fk_clientes_especie_id` (`especie_id`),
  CONSTRAINT `clientes_raza_especie_id_2316b81a_fk_clientes_especie_id` FOREIGN KEY (`especie_id`) REFERENCES `clientes_especie` (`id`),
  CONSTRAINT `clientes_raza_chk_1` CHECK ((`esperanza_vida_anios` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `clientes_raza` WRITE;
/*!40000 ALTER TABLE `clientes_raza` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_raza` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_carrito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_carrito` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha_creacion` datetime(6) NOT NULL,
  `estado` varchar(20) NOT NULL,
  `cliente_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tienda_carrito_cliente_id_ae212afb_fk_clientes_cliente_id` (`cliente_id`),
  CONSTRAINT `tienda_carrito_cliente_id_ae212afb_fk_clientes_cliente_id` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_cliente` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_carrito` WRITE;
/*!40000 ALTER TABLE `tienda_carrito` DISABLE KEYS */;
/*!40000 ALTER TABLE `tienda_carrito` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_carritoitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_carritoitem` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cantidad` int unsigned NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `carrito_id` bigint NOT NULL,
  `producto_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tienda_carritoitem_carrito_id_62bd0d19_fk_tienda_carrito_id` (`carrito_id`),
  KEY `tienda_carritoitem_producto_id_491de94d_fk_tienda_producto_id` (`producto_id`),
  CONSTRAINT `tienda_carritoitem_carrito_id_62bd0d19_fk_tienda_carrito_id` FOREIGN KEY (`carrito_id`) REFERENCES `tienda_carrito` (`id`),
  CONSTRAINT `tienda_carritoitem_producto_id_491de94d_fk_tienda_producto_id` FOREIGN KEY (`producto_id`) REFERENCES `tienda_producto` (`id`),
  CONSTRAINT `tienda_carritoitem_chk_1` CHECK ((`cantidad` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_carritoitem` WRITE;
/*!40000 ALTER TABLE `tienda_carritoitem` DISABLE KEYS */;
INSERT INTO `tienda_carritoitem` VALUES (1,1,639.61,1,19),(2,4,1453.89,1,14),(3,3,802.82,2,3),(4,2,354.92,2,6),(5,1,338.78,3,7),(6,1,338.78,3,7),(7,4,1090.63,4,1),(8,1,1499.12,4,9),(9,2,354.92,5,6),(10,3,298.74,5,15),(11,1,639.61,6,19),(12,4,1453.89,7,14),(13,4,922.08,7,18),(14,2,1345.37,8,16),(15,3,1061.40,9,2),(16,3,812.45,9,8),(17,3,639.61,10,19),(18,1,1385.39,11,4),(19,1,1345.37,11,16),(20,2,289.78,12,17),(21,4,1107.71,12,11),(22,2,209.42,13,10),(23,1,1061.40,14,2),(24,2,338.78,14,7),(25,4,1345.37,15,16),(26,2,922.08,15,18);
/*!40000 ALTER TABLE `tienda_carritoitem` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_categoria` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` longtext NOT NULL,
  `categoria_padre_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tienda_categoria_categoria_padre_id_8fd1af2e_fk_tienda_ca` (`categoria_padre_id`),
  CONSTRAINT `tienda_categoria_categoria_padre_id_8fd1af2e_fk_tienda_ca` FOREIGN KEY (`categoria_padre_id`) REFERENCES `tienda_categoria` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_categoria` WRITE;
/*!40000 ALTER TABLE `tienda_categoria` DISABLE KEYS */;
INSERT INTO `tienda_categoria` VALUES (1,'Alimento para Perros','',NULL),(2,'Alimento para Gatos','',NULL),(3,'Juguetes','',NULL),(4,'Accesorios','',NULL),(5,'Higiene y Cuidado','',NULL),(6,'Camas y Descanso','',NULL),(7,'Correas y Collares','',NULL),(8,'Transportadoras','',NULL),(9,'Snacks y Premios','',NULL),(10,'Vitaminas y Suplementos','',NULL),(11,'Ropa para Mascotas','',NULL),(12,'Acuarios y Peceras','',NULL),(13,'Jaulas para Aves','',NULL),(14,'Arena Sanitaria','',NULL),(15,'Medicamentos','',NULL);
/*!40000 ALTER TABLE `tienda_categoria` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_cupon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_cupon` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `codigo` varchar(30) NOT NULL,
  `descripcion` varchar(200) NOT NULL,
  `tipo_descuento` varchar(20) NOT NULL,
  `valor` decimal(8,2) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `usos_maximos` int unsigned NOT NULL,
  `usos_actuales` int unsigned NOT NULL,
  `activo` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  CONSTRAINT `tienda_cupon_chk_1` CHECK ((`usos_maximos` >= 0)),
  CONSTRAINT `tienda_cupon_chk_2` CHECK ((`usos_actuales` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_cupon` WRITE;
/*!40000 ALTER TABLE `tienda_cupon` DISABLE KEYS */;
/*!40000 ALTER TABLE `tienda_cupon` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_detallepedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_detallepedido` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cantidad` int unsigned NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `pedido_id` bigint NOT NULL,
  `producto_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tienda_detallepedido_pedido_id_b3eb1187_fk_tienda_pedido_id` (`pedido_id`),
  KEY `tienda_detallepedido_producto_id_1e766595_fk_tienda_producto_id` (`producto_id`),
  CONSTRAINT `tienda_detallepedido_pedido_id_b3eb1187_fk_tienda_pedido_id` FOREIGN KEY (`pedido_id`) REFERENCES `tienda_pedido` (`id`),
  CONSTRAINT `tienda_detallepedido_producto_id_1e766595_fk_tienda_producto_id` FOREIGN KEY (`producto_id`) REFERENCES `tienda_producto` (`id`),
  CONSTRAINT `tienda_detallepedido_chk_1` CHECK ((`cantidad` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_detallepedido` WRITE;
/*!40000 ALTER TABLE `tienda_detallepedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `tienda_detallepedido` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_pago` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `monto` decimal(10,2) NOT NULL,
  `metodo` varchar(50) NOT NULL,
  `estado` varchar(20) NOT NULL,
  `fecha_pago` datetime(6) NOT NULL,
  `referencia_transaccion` varchar(100) NOT NULL,
  `hash_seguridad` varchar(255) NOT NULL,
  `pedido_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tienda_pago_pedido_id_85725975_fk_tienda_pedido_id` (`pedido_id`),
  CONSTRAINT `tienda_pago_pedido_id_85725975_fk_tienda_pedido_id` FOREIGN KEY (`pedido_id`) REFERENCES `tienda_pedido` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_pago` WRITE;
/*!40000 ALTER TABLE `tienda_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `tienda_pago` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_pedido` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha_pedido` datetime(6) NOT NULL,
  `estado` varchar(20) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `descuento` decimal(10,2) NOT NULL,
  `impuestos` decimal(10,2) NOT NULL,
  `total` decimal(10,2) NOT NULL,
  `metodo_pago` varchar(50) NOT NULL,
  `fecha_entrega_estimada` date DEFAULT NULL,
  `notas` longtext NOT NULL,
  `cliente_id` bigint NOT NULL,
  `cupon_id` bigint DEFAULT NULL,
  `direccion_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tienda_pedido_cliente_id_e7f08ad0_fk_clientes_cliente_id` (`cliente_id`),
  KEY `tienda_pedido_cupon_id_5ab19085_fk_tienda_cupon_id` (`cupon_id`),
  KEY `tienda_pedido_direccion_id_7ffb664b_fk_clientes_direccion_id` (`direccion_id`),
  CONSTRAINT `tienda_pedido_cliente_id_e7f08ad0_fk_clientes_cliente_id` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_cliente` (`id`),
  CONSTRAINT `tienda_pedido_cupon_id_5ab19085_fk_tienda_cupon_id` FOREIGN KEY (`cupon_id`) REFERENCES `tienda_cupon` (`id`),
  CONSTRAINT `tienda_pedido_direccion_id_7ffb664b_fk_clientes_direccion_id` FOREIGN KEY (`direccion_id`) REFERENCES `clientes_direccion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_pedido` WRITE;
/*!40000 ALTER TABLE `tienda_pedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `tienda_pedido` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_producto` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `descripcion` longtext NOT NULL,
  `sku` varchar(30) NOT NULL,
  `marca` varchar(100) NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `costo` decimal(10,2) NOT NULL,
  `stock` int unsigned NOT NULL,
  `peso` decimal(6,2) DEFAULT NULL,
  `imagen_url` varchar(200) NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  `categoria_id` bigint NOT NULL,
  `proveedor_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sku` (`sku`),
  KEY `tienda_producto_categoria_id_6dc179b4_fk_tienda_categoria_id` (`categoria_id`),
  KEY `tienda_producto_proveedor_id_3a56c069_fk_tienda_proveedor_id` (`proveedor_id`),
  CONSTRAINT `tienda_producto_categoria_id_6dc179b4_fk_tienda_categoria_id` FOREIGN KEY (`categoria_id`) REFERENCES `tienda_categoria` (`id`),
  CONSTRAINT `tienda_producto_proveedor_id_3a56c069_fk_tienda_proveedor_id` FOREIGN KEY (`proveedor_id`) REFERENCES `tienda_proveedor` (`id`),
  CONSTRAINT `tienda_producto_chk_1` CHECK ((`stock` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_producto` WRITE;
/*!40000 ALTER TABLE `tienda_producto` DISABLE KEYS */;
/*!40000 ALTER TABLE `tienda_producto` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_proveedor` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `contacto` varchar(100) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `email` varchar(254) NOT NULL,
  `direccion` varchar(200) NOT NULL,
  `activo` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_proveedor` WRITE;
/*!40000 ALTER TABLE `tienda_proveedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `tienda_proveedor` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tienda_resena`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda_resena` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `calificacion` smallint unsigned NOT NULL,
  `comentario` longtext NOT NULL,
  `fecha` datetime(6) NOT NULL,
  `cliente_id` bigint NOT NULL,
  `producto_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tienda_resena_cliente_id_7fe4a691_fk_clientes_cliente_id` (`cliente_id`),
  KEY `tienda_resena_producto_id_4cf270fe_fk_tienda_producto_id` (`producto_id`),
  CONSTRAINT `tienda_resena_cliente_id_7fe4a691_fk_clientes_cliente_id` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_cliente` (`id`),
  CONSTRAINT `tienda_resena_producto_id_4cf270fe_fk_tienda_producto_id` FOREIGN KEY (`producto_id`) REFERENCES `tienda_producto` (`id`),
  CONSTRAINT `tienda_resena_chk_1` CHECK ((`calificacion` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tienda_resena` WRITE;
/*!40000 ALTER TABLE `tienda_resena` DISABLE KEYS */;
/*!40000 ALTER TABLE `tienda_resena` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `veterinaria_adopcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veterinaria_adopcion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha_adopcion` date NOT NULL,
  `estado` varchar(20) NOT NULL,
  `costo_adopcion` decimal(8,2) NOT NULL,
  `contrato_firmado` tinyint(1) NOT NULL,
  `cliente_id` bigint NOT NULL,
  `mascota_id` bigint NOT NULL,
  `refugio_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `veterinaria_adopcion_cliente_id_30ba64e7_fk_clientes_cliente_id` (`cliente_id`),
  KEY `veterinaria_adopcion_mascota_id_07df76d0_fk_clientes_mascota_id` (`mascota_id`),
  KEY `veterinaria_adopcion_refugio_id_a8c5d250_fk_veterinar` (`refugio_id`),
  CONSTRAINT `veterinaria_adopcion_cliente_id_30ba64e7_fk_clientes_cliente_id` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_cliente` (`id`),
  CONSTRAINT `veterinaria_adopcion_mascota_id_07df76d0_fk_clientes_mascota_id` FOREIGN KEY (`mascota_id`) REFERENCES `clientes_mascota` (`id`),
  CONSTRAINT `veterinaria_adopcion_refugio_id_a8c5d250_fk_veterinar` FOREIGN KEY (`refugio_id`) REFERENCES `veterinaria_refugio` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `veterinaria_adopcion` WRITE;
/*!40000 ALTER TABLE `veterinaria_adopcion` DISABLE KEYS */;
/*!40000 ALTER TABLE `veterinaria_adopcion` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `veterinaria_cita`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veterinaria_cita` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha_hora` datetime(6) NOT NULL,
  `estado` varchar(20) NOT NULL,
  `motivo` varchar(200) NOT NULL,
  `notas` longtext NOT NULL,
  `costo` decimal(8,2) DEFAULT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  `mascota_id` bigint NOT NULL,
  `servicio_id` bigint NOT NULL,
  `veterinario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `veterinaria_cita_mascota_id_5a6e3f8d_fk_clientes_mascota_id` (`mascota_id`),
  KEY `veterinaria_cita_servicio_id_d88ea5be_fk_veterinaria_servicio_id` (`servicio_id`),
  KEY `veterinaria_cita_veterinario_id_d3f58b70_fk_veterinar` (`veterinario_id`),
  CONSTRAINT `veterinaria_cita_mascota_id_5a6e3f8d_fk_clientes_mascota_id` FOREIGN KEY (`mascota_id`) REFERENCES `clientes_mascota` (`id`),
  CONSTRAINT `veterinaria_cita_servicio_id_d88ea5be_fk_veterinaria_servicio_id` FOREIGN KEY (`servicio_id`) REFERENCES `veterinaria_servicio` (`id`),
  CONSTRAINT `veterinaria_cita_veterinario_id_d3f58b70_fk_veterinar` FOREIGN KEY (`veterinario_id`) REFERENCES `veterinaria_veterinario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `veterinaria_cita` WRITE;
/*!40000 ALTER TABLE `veterinaria_cita` DISABLE KEYS */;
/*!40000 ALTER TABLE `veterinaria_cita` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `veterinaria_historialmedico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veterinaria_historialmedico` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `diagnostico` longtext NOT NULL,
  `tratamiento` longtext NOT NULL,
  `peso_registrado` decimal(5,2) DEFAULT NULL,
  `temperatura` decimal(4,1) DEFAULT NULL,
  `observaciones` longtext NOT NULL,
  `proxima_revision` date DEFAULT NULL,
  `cita_id` bigint DEFAULT NULL,
  `mascota_id` bigint NOT NULL,
  `veterinario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `veterinaria_historia_cita_id_31a0a156_fk_veterinar` (`cita_id`),
  KEY `veterinaria_historia_mascota_id_fc512590_fk_clientes_` (`mascota_id`),
  KEY `veterinaria_historia_veterinario_id_85ccf1c4_fk_veterinar` (`veterinario_id`),
  CONSTRAINT `veterinaria_historia_cita_id_31a0a156_fk_veterinar` FOREIGN KEY (`cita_id`) REFERENCES `veterinaria_cita` (`id`),
  CONSTRAINT `veterinaria_historia_mascota_id_fc512590_fk_clientes_` FOREIGN KEY (`mascota_id`) REFERENCES `clientes_mascota` (`id`),
  CONSTRAINT `veterinaria_historia_veterinario_id_85ccf1c4_fk_veterinar` FOREIGN KEY (`veterinario_id`) REFERENCES `veterinaria_veterinario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `veterinaria_historialmedico` WRITE;
/*!40000 ALTER TABLE `veterinaria_historialmedico` DISABLE KEYS */;
/*!40000 ALTER TABLE `veterinaria_historialmedico` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `veterinaria_refugio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veterinaria_refugio` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `direccion` varchar(200) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `email` varchar(254) NOT NULL,
  `capacidad` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `veterinaria_refugio_chk_1` CHECK ((`capacidad` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `veterinaria_refugio` WRITE;
/*!40000 ALTER TABLE `veterinaria_refugio` DISABLE KEYS */;
/*!40000 ALTER TABLE `veterinaria_refugio` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `veterinaria_servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veterinaria_servicio` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` longtext NOT NULL,
  `precio` decimal(8,2) NOT NULL,
  `duracion_minutos` int unsigned NOT NULL,
  `categoria` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `veterinaria_servicio_chk_1` CHECK ((`duracion_minutos` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `veterinaria_servicio` WRITE;
/*!40000 ALTER TABLE `veterinaria_servicio` DISABLE KEYS */;
/*!40000 ALTER TABLE `veterinaria_servicio` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `veterinaria_vacuna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veterinaria_vacuna` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre_vacuna` varchar(100) NOT NULL,
  `fecha_aplicacion` date NOT NULL,
  `lote` varchar(50) NOT NULL,
  `fecha_proxima_dosis` date DEFAULT NULL,
  `mascota_id` bigint NOT NULL,
  `veterinario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `veterinaria_vacuna_mascota_id_32040d53_fk_clientes_mascota_id` (`mascota_id`),
  KEY `veterinaria_vacuna_veterinario_id_bdbae9a5_fk_veterinar` (`veterinario_id`),
  CONSTRAINT `veterinaria_vacuna_mascota_id_32040d53_fk_clientes_mascota_id` FOREIGN KEY (`mascota_id`) REFERENCES `clientes_mascota` (`id`),
  CONSTRAINT `veterinaria_vacuna_veterinario_id_bdbae9a5_fk_veterinar` FOREIGN KEY (`veterinario_id`) REFERENCES `veterinaria_veterinario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `veterinaria_vacuna` WRITE;
/*!40000 ALTER TABLE `veterinaria_vacuna` DISABLE KEYS */;
/*!40000 ALTER TABLE `veterinaria_vacuna` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `veterinaria_veterinario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veterinaria_veterinario` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `cedula_profesional` varchar(30) NOT NULL,
  `especialidad` varchar(100) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `email` varchar(254) NOT NULL,
  `fecha_contratacion` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cedula_profesional` (`cedula_profesional`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `veterinaria_veterinario` WRITE;
/*!40000 ALTER TABLE `veterinaria_veterinario` DISABLE KEYS */;
/*!40000 ALTER TABLE `veterinaria_veterinario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

